body {
  background-image: url("plate.jpg");
}

h1 {
  color:white;
  width: 30%;
  padding: 10px;
}

a, a:visited {
  color:white;
}

a:hover {
  background-color:#BCB7B2;
}

nav{
  display:inline-block;
  background-color: #807B69;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
}

nav a{
  display: inline-block;
  padding: 18px 30px;
  color: #fff !important;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}
